body {
    background-image: url(../public/poblacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); /* Adjust the blur amount */
  
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*header*/
header {
    background-color: #FFFFFF;
    color: #eb1212;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    letter-spacing: 1px;
  }
  
  .header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Makes it responsive */
  }
  
  .header-center h3 {
    margin: 0 auto;
    font-size: 32px;
  
  }
  .header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-container {
    margin-top: 80px;
    margin-bottom: 200px;
    padding: 15px;
  }

/* for log in form*/

.header-title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #737373;
}
.login-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.h1-login{
    text-align: center;
    color: #E0E0E0;
    text-transform: uppercase;
    font-weight: 850;
    letter-spacing: 1px;
    font-size: 45px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.label-email{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    color: #E0E0E0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.input-email{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333; /* Dark text color for readability */
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; /* Dark text color for readability */
    transition: border-color 0.3s; /* Smooth transition for border color on focus */
    outline: none; /* Remove default outline */
}

.input-email:focus, .input-pass:focus{
    outline: none;
    border-color: #0056b3; /* Darker blue on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow effect */
    
}

.label-pass{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    color: #E0E0E0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.input-pass{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333; /* Dark text color for readability */
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; /* Dark text color for readability */
    transition: border-color 0.3s; /* Smooth transition for border color on focus */
    outline: none; /* Remove default outline */
}

.log-in-btn{
    width: 20rem;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: 850;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    background-color:#6C757D ;
    color: #d4d4d8;
}
.log-in-btn:hover{
    background-color: #d4d4d8; /* Darker blue on hover */
    color: #6C757D;
    transition: 0.3s ease-in-out;
}

.p-registerd{
    color: #E0E0E0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
}

.login-a{
    font-weight: 900;
    cursor: pointer;
    color: grey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.login-a:hover{
    color: #a3a3a3;
    transition: 0.2s ease;
}
a{
    text-decoration: none;
    color: #030712;
}

.form-login{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-login{
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    width: 30rem;
    height: 25rem;
   background-color: #cbd5e1;
   background-color: transparent;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


@media (max-width: 575.98px) {
    .h1-login{
        font-size: 35px;
        margin-top: 40px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* for sign up form*/

.header-signup{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #737373;
}

.h1-signup{
    text-align: center;
    color: #E0E0E0;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 35px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.signup-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.border-signup{
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    width: 30rem;
    height: 25rem;
    background-color: #cbd5e1;
    background-color: transparent;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form-signup{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-names{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px; 
    color: #E0E0E0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.input-names{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333; /* Dark text color for readability */
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; /* Dark text color for readability */
    transition: border-color 0.3s; /* Smooth transition for border color on focus */
    outline: none; /* Remove default outline */
}

.input-names:focus, .input-emails:focus, .input-password:focus{
    outline: none;
    border-color: #0056b3; /* Darker blue on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow effect */
}
.label-emails{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;  
    color: #E0E0E0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.input-emails{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333; /* Dark text color for readability */
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; /* Dark text color for readability */
    transition: border-color 0.3s; /* Smooth transition for border color on focus */
    outline: none; /* Remove default outline */
}

.label-password{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px; 
    color: #E0E0E0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.input-password{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333; /* Dark text color for readability */
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; /* Dark text color for readability */
    transition: border-color 0.3s; /* Smooth transition for border color on focus */
    outline: none; /* Remove default outline */
}

.signup-btn{
    width: 20rem;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: 850;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    background-color:#6C757D ;
    color: #d4d4d8;
}
.signup-btn:hover{
    background-color: #d4d4d8; /* Darker blue on hover */
    color: #6C757D;
    transition: 0.3s ease-in-out;
}

.p-signup-registerd{
    color: #E0E0E0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
}

.signup-a{
    font-weight: 900;
    cursor: pointer;
    color: grey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.signup-a:hover{
    color: #a3a3a3;
    transition: 0.2s ease;
}