body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*header*/
header {
    background-color: #FFFFFF;
    color: #eb1212;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    letter-spacing: 1px;
  }
  
  .header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Makes it responsive */
  }
  
  .header-center h3 {
    margin: 0 auto;
    font-size: 32px;
  
  }
  
  .main-container {
    margin-top: 80px;
    margin-bottom: 200px;
    padding: 15px;
  }

/* for log in form*/

.header-title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #737373;
}
.login-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.h1-login{
    text-align: center;
    color: #a3a3a3;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 45px;
    letter-spacing: 1px;
}

.label-email{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    color: #a3a3a3;
}

.input-email{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #1c1917;
    background-color: #737373;
}

.input-email:focus{
    outline: none;
    color: #1c1917;
    background-color: #737373;
    
}

.label-pass{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    color: #a3a3a3;
}

.input-pass{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #1c1917;
    background-color: #737373; 
}

.log-in-btn{
    width: 20rem;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: 850;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    background-color:#27272a ;
    color: #a8a29e;
}
.log-in-btn:hover{
    background-color: #525252;
    color: #27272a;
    transition: 0.3s ease-in-out;
}

.p-registerd{
    color: #a3a3a3;
    letter-spacing: 1px;
}

.login-a{
    font-weight: 900;
    cursor: pointer;

}
.login-a:hover{
    color: #a3a3a3;
    transition: 0.2s ease;
}
a{
    text-decoration: none;
    color: #030712;
}

.form-login{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-login{
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    width: 30rem;
    height: 25rem;
    background-color: #44403c;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


@media (max-width: 575.98px) {
    .h1-login{
        font-size: 35px;
        margin-top: 40px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* for sign up form*/

.header-signup{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #737373;
}

.h1-signup{
    text-align: center;
    color: #a3a3a3;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 35px;
    letter-spacing: 1px;
}

.signup-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.border-signup{
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    width: 30rem;
    height: 25rem;
    background-color: #44403c;
    border-radius: 15px;
    border-style: none;
}

.form-signup{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-names{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px; 
    color: #a3a3a3;

}
.input-names{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #1c1917;
    background-color: #737373;
}
.label-emails{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;  
    color: #a3a3a3;
}

.input-emails{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #1c1917;
    background-color: #737373; 
}

.label-password{
    display: block;
    text-align: left;
    width: 84%;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px; 
    color: #a3a3a3;
}

.input-password{
    width: 25rem;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #1c1917;
    background-color: #737373;
}

.signup-btn{
    width: 20rem;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: 850;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    background-color:#27272a ;
    color: #a8a29e;
}
.signup-btn:hover{
    background-color: #525252;
    color: #27272a;
    transition: 0.3s ease-in-out;
}

.p-signup-registerd{
    color: #a3a3a3;
    letter-spacing: 1px;
}

.signup-a{
    font-weight: 900;
    cursor: pointer;

}
.signup-a:hover{
    color: #a3a3a3;
    transition: 0.2s ease;
}